 .hidden-animated {
     visibility: hidden;
 }

 .animated.delay-100ms {
     -webkit-animation-delay: 100ms;
     animation-delay: 100ms;
 }

 .animated.delay-200ms {
     -webkit-animation-delay: 200ms;
     animation-delay: 200ms;
 }

 .animated.delay-500ms {
     -webkit-animation-delay: 500ms;
     animation-delay: 500ms;
 }

 .components-popover.themeisle-animationPopover .components-popover__content {
     max-height: 300px !important;
     max-width: 260px !important;
     overflow-x: hidden;
     margin-top: 10px;
 }

 .components-popover.themeisle-animationPopover .components-popover__content .category {
     font-weight: 700;
     padding: 5px;
 }

 .components-panel__body.is-opened .themeisle-animations-control .animationButton {
     width: 100%;
     padding: 10px;
     background-color: white;
     border: 1px solid gray;
     font-size: 14px;
     color: #32373c;
     margin-bottom: 16px;
     height: 30px;
 }


 .components-popover.themeisle-animationPopover .components-popover__content .components-button {
     width: 100%;
     color:#3d6979;
 }


 .components-popover.themeisle-animationPopover .components-popover__content .animation-is-selected button {
     background-color: #b1b3cfa4;
 }