.hidden-animated {
    visibility: hidden;
}

.animated.delay-100ms {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}

.animated.delay-200ms {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.animated.delay-500ms {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.animationPopover .components-popover__content {
    max-height: 300px;
    overflow-x: hidden;
}

.animationPopover .components-popover__content div {
    width: 100%;
}

.animationPopover .components-popover__content div button {
    width: 100%;
    padding: 10px;
}


.components-panel__body.is-opened .animationButton {
    width: 100%;
    padding: 10px;
    margin-bottom: 1.5rem;
    background-color: white;
    border: 1px solid gray;
    font-size: 14px;
    color: #32373c;
    margin-top: -32px;
}